<div class="container">

  <div class="show-title">
    <h2><%= @article.title %></h2>
    <%= link_to edit_article_path(@article), class:'btn btn-default' do %>
      <i class="far fa-edit"></i>
    <% end %>
    <%= link_to article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class:'btn btn-default' do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </div>

  <p class="font-italic"><%= @article.content %></p>

  <div>
    <%= link_to 'Back to list', articles_path, class:'btn btn-info mt-3' %>
  </div>
</div>
